# Environment variable
.env


# Python
.venv/
__pycache__/
.pycache_central/
*.py[cod]
*$py.class
*.so


# VSCode
.vscode/



#junk files from my dev process
sandbox.py
dev_notes.md
curl_commands.sh
PROVIDER_RULES.md
test/
tool_calling_test_commands.md
